<% provide(:title, @resource_site.name) %>

<h1><%= @resource_site.name %></h1>
<%= link_to('Back to All Resource Sites', resource_sites_path) %>
<%= link_to('Edit this Resource Site', edit_resource_site_path(@resource_site)) %>
<%= link_to('Delete this Resource Site', @resource_site, method: :delete,
  data: {confirm: 'Are you sure you want to delete this resource site?'}) %>

<div>
  <strong>Address:</strong>
  <span><%= @resource_site.address %></span>
</div>

<div>
  <strong>Description:</strong>
  <span><%= @resource_site.description %></span>
</div>

<div>
  <strong>Eligibility:</strong>
  <span><%= @resource_site.eligibility_id%></span>
</div>
