<% provide(:title, @eligibility.eligibility) %>
<div class="container show-container">
  <%= link_to('Back to All Eligibilities', eligibilities_path, :class => 'btn btn-primary') %>
  <%= link_to('Edit this Eligibility', edit_eligibility_path(@eligibility), :class => 'btn btn-primary') %>
  <%= link_to('Delete this Eligibility', @eligibility, method: :delete,
              data: {confirm: 'Are you sure you want to delete this eligibility?'}, :class => 'btn btn-primary') %>

  <legend><%= @eligibility.eligibility%></legend>
  <div class="table-container">
    <table class="table table-bordered table-responsive table-condensed">
      <tr>
        <td><strong>Eligibility</strong></td>
        <td><span><%= @eligibility.eligibility%></span></td>
      </tr>
      <tr>
        <td><strong>Description</strong></td>
        <td><span><%= @eligibility.description %></span></td>
      </tr>
    </table>
  </div>
</div>
