<!DOCTYPE html>
<html>
<head>
  <title>FullStackChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="flashes">
  <% if flash[:success] %>
    <p class="success"><%= flash[:success] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
  <% end %>
</div>

<%= yield %>

</body>
</html>
