<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FullStackChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navigation_bar' %>
<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div id="main-menu">
        <div class="list-group panel">
          <% if params[:controller] == 'resource_sites' && params[:action] == 'index'%>
              <a href="#eligibility" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#main-menu"><span class="glyphicon glyphicon-chevron-down pull-right"></span> ELIGIBILITY</a>
              <div class="collapse" id="eligibility">
                <%= form_tag resource_sites_path, :method => :get, :id => 'resource-site-form'  do %>
                    <% @eligibilities.each do |eligibility| %>
                        <span class="list-group-item">
                          <%= check_box_tag 'eligibilities[]', eligibility.id, :id => 'eligibility-checkbox' %>
                          <%= eligibility.eligibility %>
                        </span>
                    <% end %>
                    <%= submit_tag  'Filter', :class => 'btn btn-block '%>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="main" class="col-sm-9 col-md-10 main">
      <% if flash[:success] %>
          <p class="alert alert-success alert-dismissable"><%= flash[:success] %></p>
      <% end %>
      <% if flash[:alert] %>
          <p class="alert alert-danger alert-dismissable"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

<script>
//    $(window).on('load resize', function() {
//        $('body').css({"padding-top": $(".navbar").height() + 30 + "px"});
//    });
</script>
</body>
</html>
